# ignore pycharm config
*.idea

# Mac OS finder preferences
*.DS_Store

# ignore data files
data/

# environmental variables
.env

# python cache
src/__pycache__/

# AWS
AWS.pem

# output mp3
/output.mp3